.container
  display: flex
  flex-direction: row
  align-items: stretch
  margin: 32px 0px 0px 0px

.item
  width: calc(50% - 1px)

.divider
  background-color: rgba(255, 255, 255, 0.1)
  width: 2px
  margin: 0px 16px 0px 16px

.content::before
  content: ""
  background: linear-gradient(45deg, #ff0000 0%, #ff9a00 10%, #d0de21 20%, #4fdc4a 30%, #3fdad8 40%, #2fc9e2 50%, #1c7fee 60%, #5f15f2 70%, #ba0cf8 80%, #fb07d9 90%, #ff0000 100%) repeat 0% 0% / 300% 100%
  position: absolute // Important! Does not attach to our content but to the antD modal!
  inset: -3px
  border-radius: 8px
  filter: blur(8px)
  animation: rgb 6s linear infinite
  z-index: -1

@keyframes rgb
  0%
    background-position: 0% 50%
  50%
    background-position: 100% 50%
  100%
    background-position: 0% 50%
