.rowFullSize
  min-width: calc(50% - 16px)
  flex-grow: 2

.rowCalculated
  width: 100%
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  gap: 16px

  input
    width: 100%

  > div:nth-child(1)
    width: calc(40% - 16px)

  > div:nth-child(2)
    width: calc(40% - 16px)

  > div:nth-child(3)
    width: 20%


.content
  display: flex
  flex-direction: row
  flex-wrap: wrap
  gap: 32px

.title
  margin-top: 0 !important

.star
  margin-top: 4px

.secondaryTitle
  margin: 0 !important
  display: flex
  flex-direction: row
  gap: 8px
  justify-content: center
  align-items: center