@use "./src/components/clan/clan.module"

.partyText
  @extend .party

.heading
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  align-items: center
  justify-content: start
  gap: 1.4em

.headingComponents
  margin-bottom: 4px !important

.info
  max-width: 600px

.subheading
  padding: 64px 0 32px 0

.tag
  min-width: 5em
  text-align: center

.player
  min-width: 18em

.tableWrapper
  max-width: 100vw
  overflow-x: auto

.table
  min-width: max-content
