.breadcrump
  padding-top: 32px
  margin-bottom: -32px

.heading
  padding: 0px 0px 32px 0px

.info
  max-width: 600px

.subheading
  padding: 64px 0px 32px 0px

.tag
  min-width: 5em
  text-align: center

.player
  min-width: 18em
