.root
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

.img
  background-size: contain
  background-repeat: no-repeat
  background-position: center center
  width: clamp(180px, 33vw, 100px)
  height: clamp(180px, 33vw, 100px)

.title
  margin: 8px 0 0 0 !important
  white-space: nowrap

.disabled
  pointer-events: none
  cursor: default

.enabled
  cursor: pointer
