@use "./src/shared" as shared

.minigame

  @media (min-width: shared.$breakpoint-0) and (max-width: shared.$breakpoint-760)
    width: 100%

  @media (min-width: shared.$breakpoint-760)
    width: calc(50% - 8px)

.oddMinigame

  @media (min-width: shared.$breakpoint-0) and (max-width: shared.$breakpoint-760)
    width: 100%

  @media (min-width: shared.$breakpoint-760)
    width: 50%

.container
  width: 100%
  display: flex
  flex-direction: row
  gap: 16px
  justify-content: center
  flex-wrap: wrap

.group
  margin: 64px 0 64px 0
