.root
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

.img
  width: 180px
  height: 180px
  transition: background-image .3s ease
  background-size: contain

.preload
  opacity: 0
  width: 0px
  height: 0px

.title
  margin: 8px 0px 0px 0px !important
  @extend .fixCursor

.disabled
  pointer-events: none
  cursor: default

  .fixCursor
    pointer-events: none
    cursor: default

.enabled
  cursor: pointer

  .fixCursor
    cursor: pointer
