.root
  height: 64px
  padding: 16px 0 16px 0
  background-color: rgb(20, 20, 20)
  box-shadow: rgba(0, 0, 0, 0.65) 0px 2px 8px 0px

.container
  display: flex
  justify-content: space-between
  align-items: center
  gap: 16px

.branding
  display: flex
  gap: 16px
  justify-content: start
  align-items: center

.logo
  width: 32px
  height: 32px

